body {
  background-color: $color-background;
  background-image: url(../img/skin/bg.png);
  background-repeat: repeat;
  background-size: cover;
  color: $color-grey;
  font-family: $ocra;
  min-height: 100%;
}

.body-map {
	@media screen and (min-width: $mq-m) {
		overflow: hidden;
	}
}

.character-accent {
  color: $color-accent;
}
