@keyframes waving {
  0% {
    background-position: 0px 0px;
  }
  20% {
    background-position: 200px 40px;
  }
  40% {
  background-position: 400px 80px;
  }
  60% {
  background-position: 600px 120px;
  }
  80% {
      background-position: 800px 160px;
  }
  100% {
    background-position: 1000px 200px;
  }
}

@keyframes waving-reverse {
  0% {
    background-position: 0px 0px;
  }
  20% {
    background-position: -200px 40px;
  }
  40% {
  background-position: -400px 80px;
  }
  60% {
  background-position: -600px 120px;
  }
  80% {
      background-position: -800px 160px;
  }
  100% {
    background-position: -1000px 200px;
  }
}
