// fonts
$roboto: 'Roboto Mono', monospace;

// Colors

$color-background:    #1E252D;
$color-grey:          #515151;
$color-accent:        #60C8BC;
$color-blue:          #687A95;

// Media queries

$mq-s:                    600px;
$mq-tbl:                  601px;
$mq-m-max:                1024px;
$mq-m:                    1201px;
