// Colors

$primary-color:             #000;
$secondary-color:           #fff;


// Media queries

$mq-s:                    600px;
$mq-tbl:                  601px;
$mq-m-max:                1024px;
$mq-m:                    1201px;
