.Loader {
  width: 200px;
  height: 200px;
  background-image: url("../img/skin/wave.png");
  border-radius: 100%;
  margin: 50px auto;
  background-repeat: repeat-x;
  background-size: 200px;
  background-position: 100px 150px;
  animation: waving 1s linear infinite;
}

@keyframes waving {
  0% {
    background-position: 0px 75px;
  }
  100% {
    background-position: 200px 75px;
  }
}
