.Loader {
  &-water {
    width: 200px;
    height: 200px;
    background-image: url("../img/skin/wave.png");
    border-radius: 100%;
    margin: 50px auto;
    background-repeat: repeat-x;
    background-size: 200px;
    animation: waving 3.5s linear forwards ;
  }
}
