.About {
    &-container {
        width: rem(300);
        margin: 0 auto;
        text-align: center;
        @media screen and (min-width: $mq-m) {
          margin-left: rem(100);
          width: rem(500);
          text-align: inherit;
        }
        @media screen and (min-width: $mq-l) {
          margin-left: rem(250);
          width: rem(570);
          text-align: inherit;
        }
        &-section {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: rem(30);
          padding-bottom: rem(0);
          @media screen and (min-width: $mq-m) {
            padding-top: rem(120);
            padding-bottom: rem(200);
          }
        }
        &-info{
          padding-top: rem(40);
        }
        &-title {
          //padding-top: rem(100);
          color: $color-blue-turquoise;
          font-size: rem(20);
          text-align: center;
          font-family: $lato;
          letter-spacing: 1px;
          margin-bottom: rem(20);
          @media screen and (min-width: $mq-m) {
            font-size: rem(48);
            text-align: left;
            font-family: $lato;
            margin-bottom: rem(30);
          }
          @media screen and (max-width: $mq-m) {
            font-size: rem(38);
            text-align: center;
            margin-bottom: rem(10);
            margin-top: rem(15);
          }
        }
        &-subtitle {
          color: #fff;
          font-size: rem(17);
          text-align: left;
          letter-spacing: 0.5px;
          font-family: $lato;
          line-height: 20px;
          margin-bottom: rem(10);
          font-weight: 200;
          @media screen and (min-width: $mq-m) {
            font-size: rem(28);
            text-align: left;
            line-height: rem(40);
            margin-bottom: rem(40);
          }
        }
        &-text {
          color: #fff;
          font-size: rem(15);
          font-family: $lato;
          font-weight: 100;
          text-align: left;
          line-height: rem(30);
          letter-spacing: 0.5px;
          margin-bottom: rem(24);
          opacity: 0.58;
          @media screen and (min-width: $mq-m) {
            font-size: rem(18);
            line-height: rem(20);
            margin-bottom: rem(24);
            opacity: 0.58;
          }
        }
        &-button {
          height:auto;
          width: rem(105);
          float:left;
        }
        &-buttonText{
          width: rem(50);
          height: rem(40);
          float:left;
          text-align: left;
          text-transform: uppercase;
          color: $color-blue-turquoise;
          font-family: 'Helvetica Neue';
          font-size: rem(15);
          font-weight: 100;
          letter-spacing: rem(2);
          @media screen and (min-width: $mq-m) {
            width: rem(75);
            height: rem(24);
            color: $color-blue-turquoise;
            font-size: rem(15);
          }

        }
        &-arrow {
          float:right;
          fill: $color-blue-turquoise;
          margin-top:rem(-5);
          transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          @media screen and (max-width: $mq-m) {
            width: rem(40);
          }
          &--open {
            transform: rotate(0deg);
            transition: transform .3s ease;
          }
          &--close {
            transform: rotate(180deg);
            transition: transform .3s ease;
          }
        }
        &-credits {
          width: rem(750);
          @media screen and (max-width: $mq-m) {
            width: rem(270);
            margin-bottom: rem(20);
          }
        }

        &-creditsList {
          width: rem(640);
          display:none;
          flex-flow: wrap;
          -webkit-flex-flow: wrap;
          justify-content: center;
          float:right;
          @media screen and (max-width: $mq-m) {
            float:none;
            width: rem(270);
            margin-top: rem(10);
          }
          &--open {
          display:flex;
          }
        }


        &-creditsElements {
          width: rem(300);
          margin-bottom: rem(10);
          display:flex;
          @media screen and (max-width: $mq-m) {
            width: rem(270);
          }
        }
        &-creditsName {
          font-size: rem(15);
          font-family: 'Helvetica Neue';
          font-weight:400;
          text-align:left;
          color: #fff;
          opacity: 0.78;
           @media screen and (max-width: $mq-m) {
            width: rem(170);
          }
        }
        &-creditsRole {
          margin-left: rem(10);
          font-size: rem(15);
          color: $color-blue-turquoise;
          font-family: 'Helvetica Neue';
          font-weight: 500;
           @media screen and (max-width: $mq-m) {
            width: rem(90);
          }
        }
    }
}
