.Act {
    &-container {
        font-family: "Helvetica Neue";
        width: rem(300);
        margin: 0 auto;
        text-align: center;
        @media screen and (min-width: $mq-m) {
          margin-left: rem(100);
          width: rem(500);
          text-align: inherit;
        }
        @media screen and (min-width: $mq-l) {
          margin-left: rem(250);
          width: rem(570);
          text-align: inherit;
        }
        &-section {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: rem(30);
          padding-bottom: rem(0);
          @media screen and (min-width: $mq-m) {
            padding-top: rem(160);
            padding-bottom: rem(200);
          }
        }
        &-info{
          padding-top: rem(40);
        }
        &-title {
          //padding-top: rem(100);
          color: $color-blue-turquoise;
          font-size: rem(20);
          text-align: center;
          font-family: "Helvetica Neue";
          letter-spacing: 6px;
          margin-bottom: rem(20);
          @media screen and (min-width: $mq-m) {
            font-size: rem(48);
            text-align: left;
            font-family: "Helvetica Neue";
            margin-bottom: rem(30);
            font-weight: 500;
            letter-spacing: 6px;
          }
        }

        &-more {
          width: rem(30);
          height: rem(40);
          margin:auto;
          
          @media screen and (min-width: $mq-m){
            display: none;

          }
        }

         &-moreArrow {
          transform: rotate(270deg);
          color:$color-text-main;
          position: relative;
          width: 10px;
          height: 10px;
          @media screen and (min-width: $mq-m) {


          }
        }

        &-moreArrow2 {
          transform: rotate(0deg);
          color:$color-text-main;
          position: relative;
          margin-top: em(10);
          width: 12px;
          height: 12px;
          @media screen and (min-width: $mq-m) {


          }
        }
        &-moreArrow3 {
          transform: rotate(180deg);
          color:$color-text-main;
          position: relative;
          margin-top: em(10);
          width: 12px;
          height: 12px;
          color: $color-blue-turquoise;
          @media screen and (min-width: $mq-m) {


          }
        }

        &-moreText {
          color: $color-white-web;
          font-size: rem(10);
          text-align: center;
          font-family: "Helvetica Neue";
          font-weight: 100;
          letter-spacing: 1px;
          text-align: center;
          @media screen and (min-width: $mq-m) {
            font-size: rem(10);
            text-align: left;
            font-family: "Helvetica Neue";
            margin-top: rem(200);
            text-align: center;
          }
        }

        &-title_center {
          //padding-top: rem(100);
          color: $color-white-web;
          font-size: rem(20);
          text-align: center;
          font-family: "Helvetica Neue";
          letter-spacing: 1px;
          margin-bottom: rem(20);
          margin-top: rem(30);
          @media screen and (min-width: $mq-m) {
            color: $color-white-web;
            font-size: rem(45);
            text-align: center;
            font-family: "Helvetica Neue";
            margin-bottom: rem(30);
            margin-top: rem(30);
          }
           &--accent {
          color: $color-blue-turquoise;
          }
        }

        &-subtitle {
          color: $color-white-web;
          font-size: rem(17);
          text-align: left;
          font-family: "Helvetica Neue";
          line-height: 20px;
          margin-bottom: rem(10);
          font-weight: 200;
          @media screen and (min-width: $mq-m) {
            font-size: rem(28);
            text-align: left;
            line-height: rem(40);
            margin-bottom: rem(40);
          }
        }
        &-text {
          color: $color-text-main;
          font-size: rem(15);
          font-family: "Helvetica Neue";
          font-weight: 300;
          text-align: left;
          line-height: rem(30);
          margin-bottom: rem(24);
          @media screen and (min-width: $mq-m) {
            font-size: rem(18);
            line-height: rem(20);
            margin-bottom: rem(24);
          }
          &--accent {
          color: $color-blue-turquoise;
          text-decoration: none;
          }
        }

        &-button{
          width: rem(240);
          height: rem(40);
          text-align: left;
          text-transform: uppercase;
          color: $color-blue-turquoise;
          font-family: 'Helvetica Neue';
          font-size: rem(15);
          font-weight: 100;
          letter-spacing: rem(2);
          @media screen and (min-width: $mq-m) {
            width: rem(225);
            height: rem(54);
            color: $color-blue-turquoise;
            font-size: rem(15);
          }
        }

        &-practicies{
          position: center;
          position: relative;
          margin: 0;
          margin-top: rem(270);
          @media screen and (min-width: $mq-m) {
            margin-top: rem(320);
          }
           &-title{
            color: $color-white-web;
            font-size: rem(17);
            text-align: left;
            font-family: "Helvetica Neue";
            line-height: 20px;
            margin-bottom: rem(5);
            font-weight: 200;
            @media screen and (min-width: $mq-m) {
            padding-top: rem(10);
            font-size: rem(20);
            text-align: left;
            line-height: rem(20);
            margin-bottom: rem(0);

              }
            }

            &-text{
            color: $color-text-main;
            font-size: rem(15);
            font-family: "Helvetica Neue";
            font-weight: 300;
            text-align: left;
            line-height: rem(20);
            @media screen and (min-width: $mq-m) {
            font-size: rem(18);
            line-height: rem(20);
            margin-bottom: rem(24);
          }

            }
            &-block{
            margin-top: rem(60);
            display: inline-flex;
            flex-direction: row;
            @media screen and (min-width: $mq-m){

            }
            

            &-square1{
            font-size: rem(60);
            color: $color-blue-turquoise;
            padding-left: em(2);
            padding-right: em(2);
            @media screen and (min-width: $mq-m){
            padding-left: em(5);
            padding-right: em(5);
              }
            }
            &-square2{
            margin-top: rem(30);
            @media screen and (min-width: $mq-m){
              margin-top: rem(20) 
            }
            }
            &-square3{
            .icon-shower {
              font-size: 60px;
              margin-top: em(5);
              color: $color-icon;
              padding-left: em(1);
              padding-right: em(1);
              @media screen and (min-width: $mq-m){
                margin-top: em(5);
                font-size: 75px;
                padding-left: em(2);
                padding-right: em(2);
              }
            }
              .icon-shower-2 {
                font-size: 45px;
                margin-top: em(5);
                color: $color-icon;
                padding-left: em(1);
                padding-right: em(1);
                @media screen and (min-width: $mq-m){
                  margin-top: em(5);
                  font-size: 65px;
                  padding-left: em(2);
                  padding-right: em(2);
              }
            }
              .icon-fireman {
                font-size: 40px;
                margin-top: em(5);
                color: $color-icon;
                padding-left: em(1);
                padding-right: em(1);
                @media screen and (min-width: $mq-m){
                  margin-top: em(5);
                  font-size: 65px;
                  padding-left: em(2);
                  padding-right: em(2);
              }
            }
              .icon-robinet {
                font-size: 45px;
                margin-top: em(5);
                color: $color-icon;
                padding-left: em(1);
                padding-right: em(1);
                @media screen and (min-width: $mq-m){
                  margin-top: em(5);
                  font-size: 65px;
                  padding-left: em(2);
                  padding-right: em(2);
              }
            }
            .icon-cloud {
                font-size: 45px;
                margin-top: em(5);
                color: $color-icon;
                padding-left: em(1);
                padding-right: em(1);
                @media screen and (min-width: $mq-m){
                  margin-top: em(5);
                  font-size: 65px;
                  padding-left: em(2);
                  padding-right: em(2);
              }
            }
            }
          }
        }

        &-apps{
          position: center;
          position: relative;
          margin: 0;
          margin-top: rem(270);
          @media screen and (min-width: $mq-m) {
            margin-top: rem(320);
          }

          &-text{
            color: $color-text-main;
          font-size: rem(15);
          font-family: "Helvetica Neue";
          font-weight: 300;
          line-height: rem(20);
          margin-bottom: rem(24);
          margin-top: rem(10);
          @media screen and (min-width: $mq-m) {
            margin-top: rem(15);
            font-size: rem(15);
            line-height: rem(20);
            margin-bottom: rem(24);
            }
          }
            &-icon{
              width: em(50);
              padding-top: em(10);
              position: relative;
              @media screen and (min-width: $mq-m){

              }
            }

            &-text2{
              color: $color-text-main;
              font-size: em(14);
              font-family: "Helvetica Neue";
              margin-top: em(15); 
              height: em(15);
              @media screen and (min-width: $mq-m){

              }

            }
          

           &-title{
              color: $color-white-web;
              font-size: rem(17);
              font-family: "Helvetica Neue";
              line-height: 20px;
              margin-top: em(30);
              margin-bottom: rem(5);
              font-weight: 200;
              @media screen and (min-width: $mq-m) {
              margin-top: em(30);
              padding-top: rem(10);
              font-size: rem(20);
              line-height: rem(20);
              margin-bottom: rem(0);

              }
               &--accent {
               color: $color-blue-turquoise;
              }
            }
          
          &-block-1{
            text-align: left;
            margin-top: em(100);
          }

          &-block-2{
          margin-top: em(100);
          text-align: right;

           
          }
        }
    }
}