.Audio{
	&-controls {
		right: 10px;
		top: 10px;
		margin:auto;
		height: 50px; width: 50px;
		display: block;
		margin-top: rem(530);
		color: #fff;
		span.icon-speaker {
			cursor: pointer;
			font-size: rem(30);
		}
	}
	&-controls--paused {
		color: #bbb;
	}
}