.Audio{

	&-controls {
		right: rem(20);
		top: rem(20);
		margin:auto;
		height: rem(50); width: rem(50);
		display: block;
		color: #fff;
		position: absolute;
		span.icon-speaker {
			cursor: pointer;
			font-size: rem(25);
		}
		&--toolbar {
			position: static;
			margin-top: rem(30);
		}
	}
	&-controls--paused {
		color: #bbb;
	}
}
