.Home {
  margin-top: rem(150);
  text-align: center;
  &-instructions {
    color: $color-blue;
  }
  &-command {
    color: #fff;
  }
  &-spaceicon {
    margin-top: rem(50);
    width: rem(50);
  }
  &-begin {
    visibility: hidden;
    opacity: 0;
  }
  &-spacebar {
    margin: 50px auto;
    background-color: #fff;
    height: 5px;
    width: 0px;
    transition: .5s ease-in-out;
    &--filling {
      width: 200px;
      transition: 2s ease-in-out;
    }
    &--filled {
      width: 200px;      
    }
  }
}