.Home {
  text-align: center;
  &-title {

  }
  &-subtitle {

  }
  &-instructions {
    color: $color-blue;
  }
  &-command {
    color: #fff;
  }
}

.space {
  background-color: #fff;
  height: 50px; width: 50px;
}




// space bar gala
.spacebar {
  margin: 50px auto;
  background-color: #fff;
  height: 5px;
  width: 0px;
  transition: .75s ease-in-out;
  &--filling {
    width: 200px;
    transition: 2s ease-in-out;
  }
  &--filled {
    width: 200px;
  }
}
