.Logo {
  margin: rem(100) auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-title {
    font-family: $gotham-ultr;
    color: $color-blue-lighter;
    font-weight: 700;
    font-size: rem(250);
    letter-spacing: rem(20);
    position: relative;
  }
  &-subtitle {
    letter-spacing: rem(2);
    font-weight: 400;
    font-size: rem(24);
    position: absolute;
    bottom: rem(-10);
    margin-left: rem(50);
    color: $color-blue-lighter;
    font-family: $gotham-med;
  }
  &-waves {
    overflow: hidden;
    position: relative;
    width: rem(200);
    height: rem(200);
    border-radius: 100%;
  }
  &-wave--front {
    position: absolute;
    width: rem(200);
    height: rem(200);
    background-image: url("../img/skin/wave-one.png");
    background-repeat: repeat-x;
    background-size: rem(200);
    animation: waving 4.5s linear forwards;
  }
  &-wave--back {
    position: absolute;
    width: rem(200);
    height: rem(200);
    background-image: url("../img/skin/wave-two.png");
    background-repeat: repeat-x;
    background-size: rem(200);
    animation: waving-reverse 4.5s linear forwards;
  }
}
