.Popup {
	transition: .3s ease;
	overflow: hidden;
	position: absolute;
	width: 0%;
	height: 0%;
	background-color: $color-grey-darker;
	top: 50%; left: 50%;
	transform: translateX(-50%) translateY(-50%);
	&-content {
		color: #fff;
		display: inline;
		line-height: rem(23);
	}
	&-skip {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		bottom: 100px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	&-countdown {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 50%; left: 50%;
		transform: translateY(-50%) translateX(-50%);
		color: #fff;
		font-size: rem(130);
	}
}

.Popup--open {
	padding: rem(200) rem(350) rem(200) rem(50);
	width: calc(40% - 50px);
	height: calc(40% - 200px);
}

.intro-guidelines{
	display: none;
}
