.Quick-navigation {
  display: none;
  position: fixed;
  right:rem(20);
  margin-top: rem(360);
  font-size: 0;
  @media screen and (min-width: $mq-m) {
    display: block;
  }
    &-item {
      @media screen and (min-width: $mq-l) {
        display: block;
        width:rem(12);
        height:rem(12);
        margin: 10px;
        border-radius: 100%;
        background-color: #fff;
        opacity: .5;
        cursor:pointer;
      }
      &--active {
        opacity: 1;
      }
    }
}

.Region {
  display:none;
  opacity: 0;
  overflow: hidden;
  text-align: center;

  &--open {
    display: block;
    transition: .3s ease;
    opacity: 1;
  }
    &-container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @media screen and (min-width: $mq-m) {
          margin-left: rem(150);
          width: rem(500);
          text-align: inherit;
        }
        @media screen and (min-width: $mq-l) {
          margin-left: rem(300);
          width: rem(570);
          text-align: inherit;
        }
        &-section {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: rem(30);
          padding-bottom: rem(0);
          height: 800px;
          @media screen and (min-width: $mq-m) {
            padding-top: rem(40);
            height: 800px;
          }
          &:last-child {
            @media screen and (min-width: $mq-m) {
              height: 570px; 
            }
          }
        }
        &-continent {
          width:100px;
          display: none;
          color: #fff;
          font-size: rem(38);
          text-align: center;
          text-transform: uppercase;
          font-family: $lato;
          font-weight: 100;
          margin-bottom: rem(34);
          @media screen and (min-width: $mq-m) {
            margin-left: rem(-100);
            margin-top: rem(-10);
            position: fixed;
            display: block;
            text-transform: capitalize;
            text-align: left;
            font-size: rem(38);
            margin-bottom: rem(14);
          }
          @media screen and (min-width: $mq-l) {
            margin-left: rem(-250);
            margin-top: rem(10);
            position: fixed;
            display: block;
            text-transform: capitalize;
            text-align: left;
            font-size: rem(38);
            margin-bottom: rem(14);
          }
        }
        &-continent--fixed {
          width: 100%;
          top:0;
          padding-top: rem(35);
          padding-bottom: rem(35);
          font-size: rem(38);
          text-align: center;
          text-transform: uppercase;
          font-family: $lato;
          display: block;
          position: fixed;
          line-height: rem(28);
          left: 0;
          right: 0;
          background-color: $color-background;
          z-index: 99;
        }
        &-info{
          padding-top: rem(40);
          @media screen and (min-width: $mq-m) {
            padding-top:rem(0);
          }
        }
        &-country {
          color: #fff;
          font-size: rem(30);
          font-family: $lato;
          text-align: center;
          font-weight: 100;
          margin-bottom: rem(30);
          @media screen and (min-width: $mq-m) {
            font-size: rem(28);
            text-align: left;
            margin-bottom: rem(40);
          }
        }
        &-title {
          padding-top: rem(100);
          color: $color-blue-turquoise;
          font-size: rem(20);
          text-align: center;
          font-family: $lato;
          letter-spacing: 1px;
          margin-bottom: rem(20);
          @media screen and (min-width: $mq-m) {
            font-size: rem(48);
            text-align: left;
            font-family: $lato;
            margin-bottom: rem(30);
          }
          @media screen and (max-width: $mq-m) {
            padding-top: rem(20);
          }
        }
        &-subtitle {
          color: $color-white-web;
          font-size: rem(17);
          text-align: left;
          font-family: $lato;
          line-height: rem(25);
          margin-bottom: rem(10);
          font-weight: 200;
          @media screen and (min-width: $mq-m) {
            font-size: rem(24);
            text-align: left;
            line-height: rem(34);
            margin-bottom: rem(40);
          }
        }
        &-text {
          color: $color-text-main;
          font-size: rem(15);
          font-family: $lato-light;
          font-weight: 500;
          text-align: left;
          line-height: rem(30);
          margin-bottom: rem(30);
          letter-spacing: 1px;
          @media screen and (min-width: $mq-m) {
            font-size: rem(18);
            line-height: rem(27);
            font-weight: 100;
            margin-bottom: rem(24);
            opacity: 0.58;
          }
        }
        &-watchButton {
          display: none;
          width: rem(240);
          height: rem(40);
          text-align: center;
          border-radius: rem(10);
          border-style: solid;
          border-width: .5px;
          color: $color-blue-turquoise;
          background-color: rgba(255, 255, 255, 0.02);
          font-size: rem(20);
          font-weight: 100;
          letter-spacing: rem(2);
          @media screen and (min-width: $mq-m) {
            width: rem(225);
            height: rem(54);
            color: $color-blue-turquoise;
            font-size: rem(24);
          }
        }
        &-keyData {
          width: 100%;
          margin-top: rem(10);
          font-family:$lato;
          @media screen and (min-width: $mq-m) {
            margin-top: rem(30);
            text-align: left;
            padding-left:0;
            padding-right:0;
          }
          &-firstData {
            margin-bottom: rem(60);
            @media screen and (min-width: $mq-m) {
              margin-bottom: rem(40);
            }
             &-number {
               color: $color-red;
               font-size: rem(50);
               text-align: center;
               @media screen and (min-width: $mq-m) {
                 color: $color-red;
                 font-size: rem(50);
                 text-align: inherit;
               }
             }
            &-details {
              display: block;
              text-align: center;
              width: 100%;
              padding-top: rem(23);
              line-height: rem(18);
              color: #fff;
              font-size: rem(18);
              font-weight: 100;
              @media screen and (min-width: $mq-m) {
                display: inline;
                position: absolute;
                text-align: left;
                width: 100%;
                padding-left: rem(3);
                padding-top: rem(23);
                line-height: rem(24);
                color: #fff;
                font-size: rem(18);
                font-weight: 100;
              }
            }
           }
          &-secondData {
            &-number {
              color: $color-red;
              font-size: rem(50);
              text-align: center;
              @media screen and (min-width: $mq-m) {
                color: $color-red;
                font-size: rem(50);
                text-align: inherit;
              }
            }
            &-details {
              display: block;
              text-align: center;
              width: 100%;
              padding-top: rem(23);
              line-height: rem(24);
              color: #fff;
              font-size: rem(18);
              font-weight: 100;
              @media screen and (min-width: $mq-m) {
                display: inline;
                position: absolute;
                width: 100%;
                text-align: left;
                padding-left: rem(3);
                padding-top: rem(23);
                line-height: rem(18);
                color: #fff;
                font-size: rem(18);
                font-weight: 100;
              }
            }
          }
        }
    }
}