.Quick-navigation {
  position: fixed;
  right:rem(80);
  margin-top: rem(360);
  font-size: 0;
    &-bubble {
      width:rem(12);
      height:rem(12);
      margin: 10px;
      border-radius: 100%;
      background-color: #fff;
      opacity: .5;
    }
}

.Region {
  text-align: center;
    &-container {
        margin-left: rem(250);
        width: rem(570);
        &-section {
          padding-top: rem(200);
          padding-bottom: rem(200);
        }
        &-name {
          color: #fff;
          font-size: rem(28);
          font-family: "Helvetica Neue";
          font-weight: 100;
          margin-bottom: rem(34);
        }
        &-title {
          color: $color-blue-turquoise;
          font-size: rem(48);
          font-family: "Helvetica Neue";
          margin-bottom: rem(30);
        }
        &-subtitle {
          color: #fff;
          font-size: rem(28);
          font-family: "Helvetica Neue";
          line-height: rem(40);
          margin-bottom: rem(40);
          font-weight: 200;
        }
        &-text {
          color: #fff;
          font-size: rem(18);
          font-family: "Helvetica Neue";
          line-height: rem(20);
          margin-bottom: rem(24);
          opacity: 0.58;
          @media screen and (min-width: $mq-m) {

          }
        }
        &-watchButton {
          width: rem(225);
          height: rem(54);
          border-radius: rem(10);
          border: none;
          background-color: $color-blue-button;
          color: $color-blue-turquoise;
          font-size: rem(24);
          font-weight: 500;
          letter-spacing: rem(2);
        }
    }

}