.Toolbar {
  right:rem(75);
  top:0;
  right: 0;
  font-size: 0;
  position: fixed;
  &-buttons {
    margin-top: rem(90);
    margin-right: rem(80);
  }
  &-backButton {
    padding-right: rem(20);
    opacity: 0.26;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      transition: 0.2s;
    }
  }
  &-menuIcon {
    opacity: 0.26;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      transition: 0.2s;
    }
  }

  &-menu {
    position: absolute;
    text-align: center;
    top:0;
    right:0;
    height:1000px;
    width: rem(337);
    background-color: rgba(91, 108, 142, 0.3);
    font-size: rem(40);
    transition:right .5s cubic-bezier(0, 0, 0, 0.64);
    font-family: 'Helvetica Neue';
    font-weight: 200;
    opacity: 1;
    &--closed{
      opacity: 0;
      right:rem(-337);
    }
    &-closeButton {
      float: right;
      margin-right: rem(75);
      margin-top: rem(90);
      opacity: .26;
      transition: 0.2s;
      &:hover {
        opacity: .9;
        transition: 0.2s;
      }
    }
    &-list {
      margin-top: rem(300);
      width: 100%;
      position: absolute;
      text-align: center;
      line-height: rem(70);

      &-item{
        line-height: 20px;
        color: #fff;
        text-decoration: none;
        margin: 10px;
        &:hover {
          color: $color-blue-turquoise;
          border-bottom: 4px solid $color-blue-turquoise;
          padding-bottom: rem(3);
        }
      }
    }
    &-nasa {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: rem(12);
      text-align: center;
      &-img {
        width:rem(80);
      }
    }
  }
}