.Zones {
	overflow: unset;
	.cls-1 {
		cursor: pointer;
		position: absolute;
		transform-origin: 50% 50%;
		transition: .3s ease;
		stroke: red !important;
	}
	.cls-1:hover {
		transform: scale(1.03);
		fill: red !important;
	}
}