@keyframes waving {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 400px 75px;
  }
}

@keyframes waving-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -400px 75px;
  }
}

@keyframes waving-large {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1000px 200px;
  }
}

@keyframes waving-reverse-large {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1000px 200px;
  }
}

.fadeIn {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  transition: 1s ease;
}

.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: 1s ease;
}

.slideOutLeft {
  transform: translateX(-100%);
  transition: .5s ease-in;
}