@font-face {
  src: url(../fonts/gotham-ultra.ttf);
  font-family: "gotham-ultra";
}

@font-face {
  src: url(../fonts/gotham-medium.ttf);
  font-family: "gotham-medium";
}

@font-face {
  src: url(../fonts/ocra.ttf);
  font-family: "ocra";
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
