@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
}

%icon {
  position: relative;
  display:inline-block;
  vertical-align: middle;
  font-family:"icons";
  font-style:normal;
  font-weight:normal;
  line-height:1;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow {
    $char: "\E001";
  }
  @if $filename == check {
    $char: "\E002";
  }
  @if $filename == cloud {
    $char: "\E003";
  }
  @if $filename == fingerprint {
    $char: "\E004";
  }
  @if $filename == fireman {
    $char: "\E005";
  }
  @if $filename == keyboard {
    $char: "\E006";
  }
  @if $filename == robinet {
    $char: "\E007";
  }
  @if $filename == shower-2 {
    $char: "\E008";
  }
  @if $filename == shower {
    $char: "\E009";
  }
  @if $filename == speaker {
    $char: "\E00A";
  }

  @return $char;
}

@mixin icon($filename) {
  content: icon-char($filename);
}

[class*="icon-"] {
  @extend %icon;
}


.icon-arrow{
  &::before {
    @include icon(arrow);
  }
}
%icon-arrow {
  @include icon(arrow);
}

.icon-check{
  &::before {
    @include icon(check);
  }
}
%icon-check {
  @include icon(check);
}

.icon-cloud{
  &::before {
    @include icon(cloud);
  }
}
%icon-cloud {
  @include icon(cloud);
}

.icon-fingerprint{
  &::before {
    @include icon(fingerprint);
  }
}
%icon-fingerprint {
  @include icon(fingerprint);
}

.icon-fireman{
  &::before {
    @include icon(fireman);
  }
}
%icon-fireman {
  @include icon(fireman);
}

.icon-keyboard{
  &::before {
    @include icon(keyboard);
  }
}
%icon-keyboard {
  @include icon(keyboard);
}

.icon-robinet{
  &::before {
    @include icon(robinet);
  }
}
%icon-robinet {
  @include icon(robinet);
}

.icon-shower-2{
  &::before {
    @include icon(shower-2);
  }
}
%icon-shower-2 {
  @include icon(shower-2);
}

.icon-shower{
  &::before {
    @include icon(shower);
  }
}
%icon-shower {
  @include icon(shower);
}

.icon-speaker{
  &::before {
    @include icon(speaker);
  }
}
%icon-speaker {
  @include icon(speaker);
}
