// fonts
$roboto:		'Roboto Mono', monospace;
$lato:			'Lato', sans-serif;
$lato-light:    'Lato', sans-serif;
$gotham-ultr:	'gotham-ultra', sans-serif;
$gotham-med:	'gotham-medium', sans-serif;
$ocra:			'ocra', sans-serif;
$orbit:         'Orbitron', sans-serif;
$helvetica:     'helvetica', sans-serif;
$helvetica-light:     'helvetica-light', sans-serif;


// Colors
$color-background:    #1E252D;
$color-accent:        #60C8BC;

$color-grey:          #515151;
$color-grey-lighter:  #81888C;
$color-grey-darker:	  #222429;

$color-blue:            #687A95;
$color-blue-lighter:    #43628A;
$color-blue-button:     #434F67;
$color-blue-turquoise:  #60C8BC;

$color-red:             #E62235;


// Media queries
$mq-m:  768px;
$mq-l:  1024px;
$mq-xl: 1824px;