// fonts
$roboto:		'Roboto Mono', monospace;
$lato:			'Lato', sans-serif;
$gotham-ultr:	'gotham-ultra', sans-serif;
$gotham-med:	'gotham-medium', sans-serif;
$ocra:			'ocra', sans-serif;

// Colors
$color-background:    #1E252D;
$color-accent:        #60C8BC;

$color-grey:          #515151;
$color-grey-darker:	  #222429;

$color-blue:          #687A95;
$color-blue-lighter:  #43628A;

// Media queries
$mq-s:                    600px;
$mq-tbl:                  601px;
$mq-m-max:                1024px;
$mq-m:                    1201px;
