<!-- build:include ./inc/header.html -->
<!-- /build -->

<div class="About">

    <h2 class="About-title">About H2O</h2>
    <div class="About-synopsis">
        <h3 class="About-synopsis-title"></h3>
        <p class="About-synopsis-text">
            In 2010, NASA developed and launched satellites based artificially intelligent named H2O Project that would analyse Earth.<br>The studies reported terrible predictions for Mankind.<br> NASA warned the world’s leaders.<br>But Men did nothing to prevent these ravishing prospects<br>and the most vital resource to life disappeared: clean drinking water.<br>Indeed, humans can survive 30 days without eating but only 3 days without drinking.<br>Yet, on Earth, every human being did not have access to clean drinking water. <br>In 2084, mankind among many species vanished off the face of the Earth.
        </p>
    </div>

</div>

<!-- build:include ./inc/footer.html -->
<!-- /build -->