<!-- build:include ./inc/header.html -->
<!-- /build -->


<div class="Act">

	<nav class="Quick-navigation">
		<div class="Scroll-progress-indicator">
			<a href="#section1" class="Quick-navigation-item"></a>
			<a href="#section2" class="Quick-navigation-item"></a>
			<a href="#section3" class="Quick-navigation-item"></a>
			
		</div>
	</nav>

    <div id="section1" class="Act-container">
    	<section class="Act-container-section">
    		<h3 class="Act-container-title">ACT</h3>
    		<div class="Act-container-info">
    			<h4 class="Act-container-text"> It's up to all of us to become leaders in the fight against climate change. 
				Join a growing movement of people around the world who are working to keep their local communities safe from climate impacts. 
				<br>
				<br>
				Following <span><a class="Act-container-text--accent" href="#section2">«Good Practicies»</a></span> and <span><a class="Act-container-text--accent" href="#section3">«Good Apps»</a></span> can help you canging your habits.</h4>
    		</div>
    		<div class="Act-container-more">
	    		<a href="#section2" class="Act-container-moreText"> MORE</a>
	    		<svg class="Act-container-moreArrow" width="25px" height="25px" viewBox="0 0 76 76">
		            		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                		<g id="Europe-Info" transform="translate(-1186.000000, -89.000000)">
		                    		<g id="Back-button" transform="translate(1186.000000, 89.000000)">
		                        		<g id="Rectangle-150" transform="translate(19.000000, 16.000000)" fill="#FFFFFF">
		                            		<rect transform="translate(12.171403, 30.171403) rotate(45.000000) translate(-12.171403, -30.171403) " x="-2.07859716" y="27.2084399" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                           			<rect id="Rectangle-150-Copy-3" transform="translate(12.171403, 12.171403) rotate(-45.000000) translate(-12.171403, -12.171403) " x="-2.07859716" y="9.20843987" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                            		<path d="M1,20.495951 C1,19.1174753 2.12162475,18 3.49564853,18 L5.58294854,18 C6.96125716,18 8.07859707,19.1146213 8.07859707,20.495951 L8.07859707,21.4299748 C8.07859707,22.8084504 6.95697232,23.9259258 5.58294854,23.9259258 L3.49564853,23.9259259 C2.1173399,23.9259259 1,22.8113046 1,21.4299749 L1,20.495951 Z" id="Rectangle-150-Copy-4"></path>
		                        		</g>
		                    		</g>
		                		</g>
		            		</g>
		        </svg>
	        </div>
    		<div id="section2" class="Act-container-practicies">
	    		<h3 class="Act-container-title_center">Some <span class="Act-container-title_center--accent">Good Practicies</span></h3>
	    		<div class="Act-container-info">
	    			<h4 class="Act-container-text"> It's up to all of us to become leaders in the fight against climate change. 
					Join a growing movement of people around the world who are working to keep their local communities safe from climate impacts. 
					</h4>
					<div class="Act-container-practicies-block">
		    			<p class="Act-container-practicies-block-square1">1</p>
		    			<div class="Act-container-practicies-block-square2"><h3 class="Act-container-practicies-title">Urinate in the shower</h3><br><h4 class="Act-container-practicies-text">saves the equivalent of 26 Olympic swimming pools per year.</h4></div>
		    			<p class="Act-container-practicies-block-square3"><span class="icon-shower"></span></p>
		    		</div>
		    		<div class="Act-container-practicies-block">
		    			<p class="Act-container-practicies-block-square3"><span class="icon-shower-2"></span></p>
		    			<p class="Act-container-practicies-block-square1">2</p>
		    			<div class="Act-container-practicies-block-square2"><h3 class="Act-container-practicies-title">Prefer showers</h3><br><h4 class="Act-container-practicies-text">consumes 50 liters of water instead of 150 liters for a bath.</h4></div>
		    		</div>
		    		<div class="Act-container-practicies-block">
		    			<p class="Act-container-practicies-block-square1">3</p>
		    			<div class="Act-container-practicies-block-square2"><h3 class="Act-container-practicies-title">Watering in the evening</h3><br><h4 class="Act-container-practicies-text">educes losses due to evaporation by 5 to 10%.</h4></div>
		    			<p class="Act-container-practicies-block-square3"><span class="icon-fireman"></span></p>
		    		</div>
		    		<div class="Act-container-practicies-block">
		    			<p class="Act-container-practicies-block-square3"><span class="icon-robinet"></span></p>
		    			<p class="Act-container-practicies-block-square1">4</p>
		    			<div class="Act-container-practicies-block-square2"><h3 class="Act-container-practicies-title">Do not water flow until it is cold.</h3><br><h4 class="Act-container-practicies-text">Fill a jug and put it in the refrigerator.</h4></div>
		    		</div>
		    		<div class="Act-container-practicies-block">
		    			<p class="Act-container-practicies-block-square1">5</p>
		    			<div class="Act-container-practicies-block-square2"><h3 class="Act-container-practicies-title">Collect rainwater</h3><br><h4 class="Act-container-practicies-text">when descending gutters using cans: for watering flowers and lawns or for washing cars.</h4></div>
		    			<p class="Act-container-practicies-block-square3"><span class="icon-cloud"></span></p>
		    		</div>
    			</div>
    		</div>
	    		<div id="section3" class="Act-container-apps">
		    		<h3 class="Act-container-title_center">Some <span class="Act-container-title_center--accent">Good Applications</span></h3>
			    	<div class="Act-container-info">
			    		<div class="Act-container-apps-block-1">
			    			<h3 class="Act-container-apps-title"><span class="Act-container-apps-title--accent">Planet Ocean</span> - To eat good fishes</h3>
			    				<div class="Act-container-apps-text">The app “Planet Ocean”, instructive and useful, lists 100 species of fish and shellfish according to their origin, the state of their stock and their fishing techniques. It will guide consumers in their choice by helping them identify species managed in a sustainable manner. <br>
								You will also discover the underwater world news in real time through the GoodPlanet magazine, some advice about how to consume seafood products in a sustainable manner and recipes.</div>
								<img class="Act-container-apps-icon" src="img/skin/unnamed.png" alt="Planet Ocean">
								<svg class="Act-container-moreArrow3" width="25px" height="25px" viewBox="0 0 76 76">
		            		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                		<g id="Europe-Info" transform="translate(-1186.000000, -89.000000)">
		                    		<g id="Back-button" transform="translate(1186.000000, 89.000000)">
		                        		<g id="Rectangle-150" transform="translate(19.000000, 16.000000)" fill="#FFFFFF">
		                            		<rect transform="translate(12.171403, 30.171403) rotate(45.000000) translate(-12.171403, -30.171403) " x="-2.07859716" y="27.2084399" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                           			<rect id="Rectangle-150-Copy-3" transform="translate(12.171403, 12.171403) rotate(-45.000000) translate(-12.171403, -12.171403) " x="-2.07859716" y="9.20843987" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                            		<path d="M1,20.495951 C1,19.1174753 2.12162475,18 3.49564853,18 L5.58294854,18 C6.96125716,18 8.07859707,19.1146213 8.07859707,20.495951 L8.07859707,21.4299748 C8.07859707,22.8084504 6.95697232,23.9259258 5.58294854,23.9259258 L3.49564853,23.9259259 C2.1173399,23.9259259 1,22.8113046 1,21.4299749 L1,20.495951 Z" id="Rectangle-150-Copy-4"></path>
		                        		</g>
		                    		</g>
		                		</g>
		            		</g>
		       					</svg>
								<span class="Act-container-apps-text2"><a class="Act-container-text--accent" href="http://bit.ly/PlanetOceanAppIOS">iOS </a>&amp; <a class="Act-container-text--accent" href="https://play.google.com/store/apps/details?id=com.goodplanet.oceanplanet&hl=fr">Androïd</a></span>
						</div>
						<div class="Act-container-apps-block-2">
			    			<h3 class="Act-container-apps-title"><span class="Act-container-apps-title--accent">90 JOURS</span> - Your coach</h3>
			    				<div class="Act-container-apps-text">What would happen if we offered you a "coach in ecological transition"? This is the ambition of the app 90 Jours ! Depending on your profile, the app determines a program consisting of small actions. Put a "stop add" sticker on your mailbox or take your mug to the office, it's also being eco-responsible</div>
								<span class="Act-container-apps-text2"><a class="Act-container-text--accent" href="https://itunes.apple.com/us/app/90jours/id1042278611?l=fr&ls=1&mt=8">iOS </a>&amp; <a class="Act-container-text--accent" href="https://play.google.com/store/apps/details?id=com.cobblecamp.QuatreVingtDixJours">Androïd</a></span>
								<svg class="Act-container-moreArrow2" width="25px" height="25px" viewBox="0 0 76 76">
		            		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                		<g id="Europe-Info" transform="translate(-1186.000000, -89.000000)">
		                    		<g id="Back-button" transform="translate(1186.000000, 89.000000)">
		                        		<g id="Rectangle-150" transform="translate(19.000000, 16.000000)" fill="#FFFFFF">
		                            		<rect transform="translate(12.171403, 30.171403) rotate(45.000000) translate(-12.171403, -30.171403) " x="-2.07859716" y="27.2084399" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                           			<rect id="Rectangle-150-Copy-3" transform="translate(12.171403, 12.171403) rotate(-45.000000) translate(-12.171403, -12.171403) " x="-2.07859716" y="9.20843987" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                            		<path d="M1,20.495951 C1,19.1174753 2.12162475,18 3.49564853,18 L5.58294854,18 C6.96125716,18 8.07859707,19.1146213 8.07859707,20.495951 L8.07859707,21.4299748 C8.07859707,22.8084504 6.95697232,23.9259258 5.58294854,23.9259258 L3.49564853,23.9259259 C2.1173399,23.9259259 1,22.8113046 1,21.4299749 L1,20.495951 Z" id="Rectangle-150-Copy-4"></path>
		                        		</g>
		                    		</g>
		                		</g>
		            		</g>
		       					</svg>
								<img class="Act-container-apps-icon" src="img/skin/90-jours.png" alt="90 jours">
						</div>
						<div class="Act-container-apps-block-1">
			    			<h3 class="Act-container-apps-title"><span class="Act-container-apps-title--accent">PLUM Labs</span> - Clean air or not ? </h3>
			    				<div class="Act-container-apps-text">What is the best time to go jogging without too much polluting his lungs? Plume Labs will explain all of this and keep you informed of variations in pollution levels hour after hour.
								The most: this app is very transparent and reveals you its method of calculation.
								<br>
								What is the best time to go jogging without too much polluting his lungs? Plume Labs will explain all of this and keep you informed of variations in pollution levels hour after hour.
								<br>
								The most: this app is very transparent and reveals you its method of calculation.

								</div>
								<img class="Act-container-apps-icon" src="img/skin/PLUM-LABS.png" alt="Plum Labs">
								<svg class="Act-container-moreArrow3" width="25px" height="25px" viewBox="0 0 76 76">
		            		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                		<g id="Europe-Info" transform="translate(-1186.000000, -89.000000)">
		                    		<g id="Back-button" transform="translate(1186.000000, 89.000000)">
		                        		<g id="Rectangle-150" transform="translate(19.000000, 16.000000)" fill="#FFFFFF">
		                            		<rect transform="translate(12.171403, 30.171403) rotate(45.000000) translate(-12.171403, -30.171403) " x="-2.07859716" y="27.2084399" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                           			<rect id="Rectangle-150-Copy-3" transform="translate(12.171403, 12.171403) rotate(-45.000000) translate(-12.171403, -12.171403) " x="-2.07859716" y="9.20843987" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                            		<path d="M1,20.495951 C1,19.1174753 2.12162475,18 3.49564853,18 L5.58294854,18 C6.96125716,18 8.07859707,19.1146213 8.07859707,20.495951 L8.07859707,21.4299748 C8.07859707,22.8084504 6.95697232,23.9259258 5.58294854,23.9259258 L3.49564853,23.9259259 C2.1173399,23.9259259 1,22.8113046 1,21.4299749 L1,20.495951 Z" id="Rectangle-150-Copy-4"></path>
		                        		</g>
		                    		</g>
		                		</g>
		            		</g>
		       					</svg>
								<span class="Act-container-apps-text2"><a class="Act-container-text--accent" href="https://itunes.apple.com/us/app/plume-air-report-beat-pollution/id950289243">iOS </a>&amp; <a class="Act-container-text--accent" href="https://play.google.com/store/apps/details?id=com.plumelabs.air">Androïd</a></span>
						</div>
						<div class="Act-container-apps-block-2">
			    			<h3 class="Act-container-apps-title"><span class="Act-container-apps-title--accent">Eco Life Hack</span> - Save money &amp; the world</h3>
			    				<div class="Act-container-apps-text">With the app Eco Life Hack, you can access many good ecological and economic plans that can make you save money or even make money.
								More than 300 ecological and economic tricks are available on the application to bring you ideas that will change your daily life, such as creating your own toothpaste, naturally isolating a room from your home, saving 10 euros on your electricity bill.
								You also have the opportunity to control and reduce your carbon footprint by answering a lifestyle survey to get an accurate estimate of your carbon footprint.</div>
								<span class="Act-container-apps-text2"><a class="Act-container-text--accent" href="https://itunes.apple.com/us/app/eco-life-hacks-save-your-money/id1084234477?mt=8">iOS </a>&amp; <a class="Act-container-text--accent" href="https://play.google.com/store/apps/details?id=com.astuces.ecolo">Androïd</a></span>
								<svg class="Act-container-moreArrow2" width="25px" height="25px" viewBox="0 0 76 76">
		            		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                		<g id="Europe-Info" transform="translate(-1186.000000, -89.000000)">
		                    		<g id="Back-button" transform="translate(1186.000000, 89.000000)">
		                        		<g id="Rectangle-150" transform="translate(19.000000, 16.000000)" fill="#FFFFFF">
		                            		<rect transform="translate(12.171403, 30.171403) rotate(45.000000) translate(-12.171403, -30.171403) " x="-2.07859716" y="27.2084399" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                           			<rect id="Rectangle-150-Copy-3" transform="translate(12.171403, 12.171403) rotate(-45.000000) translate(-12.171403, -12.171403) " x="-2.07859716" y="9.20843987" width="28.5" height="5.92592593" rx="2.96296296"></rect>
		                            		<path d="M1,20.495951 C1,19.1174753 2.12162475,18 3.49564853,18 L5.58294854,18 C6.96125716,18 8.07859707,19.1146213 8.07859707,20.495951 L8.07859707,21.4299748 C8.07859707,22.8084504 6.95697232,23.9259258 5.58294854,23.9259258 L3.49564853,23.9259259 C2.1173399,23.9259259 1,22.8113046 1,21.4299749 L1,20.495951 Z" id="Rectangle-150-Copy-4"></path>
		                        		</g>
		                    		</g>
		                		</g>
		            		</g>
		       					</svg>
								<img class="Act-container-apps-icon" src="img/skin/eco-life.png" alt="eco-life">
						</div>
			    	</div>
		    			
	    		</div>
    		</div>
    	</section>
    </div>
</div>

<!-- build:include ./inc/footer.html -->
<!-- /build -->
