<!-- build:include ./inc/header.html -->
<!-- /build -->

<div class="container Home">

	<div class="Logo">
		<h1 class="Logo-title">H2<span class="Logo-subtitle">project</span></h1>
		<div class="Logo-waves">
			<div class="Logo-wave Logo-wave--back"></div>
			<div class="Logo-wave Logo-wave--front"></div>
		</div>
	</div>

	<div class="Home-begin">
		<h2 class="Home-subtitle">requesting authorization</h2>
		<div class="Home-instructions">Review of the current research project. Access to classified documents.
			<br>Request authorization pending. <span class="Home-command">Press the button to begin</span><span class="Home-command--large">Hold space to begin</span>
		</div>
		<img class="Home-spaceicon" src="img/skin/keyboard.svg" alt="">
		<span class="icon-fingerprint"></span>
		<div class="Home-spacebar"></div>
	</div>
		
</div>

<div class="Home-popup">
	<p class="Home-popup-content"></p>
	<p class="Home-popup-countdown" id="countdown">2084</p>
</div>
<a href="" class="Home-popup-skip">skip intro</a>

<audio
	class="Audio-music"
	src="medias/background.mp3">
	Your browser doesn't support audio API
</audio>

<div class="Audio-controls"><a><span class="icon-speaker"></span></a></div>

<div class="intro-story">
	<p>init h2o_project.sh</p>
	<p>In 2010, NASA developed and launched satellites based artificially intelligent named H2O Project that would analyse Earth.</p>
	<p>The studies reported terrible predictions for Mankind.</p>
	<p>NASA warned the world’s leaders. ^750 But Men did nothing to prevent these ravishing prospects and the most vital resource to life disappeared: clean drinking water.</p>
	<p>Indeed, humans can survive 30 days without eating but only 3 days without drinking.</p>
	<p>Yet, on Earth, every human being did not have access to clean drinking water.</p>
	<p>In 2084, mankind among many species vanished off the face of the Earth.</p>
	<p></p>
</div>

<!-- build:include ./inc/footer.html -->
<!-- /build -->
