<!-- build:include ./inc/header.html -->
<!-- /build -->

<div class="Loader">
	<h1 class="Loader-title">H2<span class="Loader-subtitle">project</span></h1>
	<div class="Loader-waves">
		<div class="Loader-wave--two"></div>
		<div class="Loader-wave--one"></div>
	</div>
</div>

<div class="container">
	<div class="Home">
		<h2 class="Home-subtitle">request authorization
			<br>from
		</h2>
		<h1 class="Home-title">H<span class="character-accent">2</span>O Project</h1>
		<div class="Home-instructions">Review of the current research project. Access to classified documents.
			<br>Request authorization pending. <span class="Home-command">Press space to begin</span>
		</div>
		<i class="icon-keyboard"></i>
		<div class="spacebar"></div>
	</div>
</div>

<!-- build:include ./inc/footer.html -->
<!-- /build -->
