<!-- build:include ./inc/header.html -->
<!-- /build -->

<div class="container">
	<div class="Home">

		<div class="Logo">
			<h1 class="Logo-title">H2<span class="Logo-subtitle">project</span></h1>
			<div class="Logo-waves">
				<div class="Logo-wave--back"></div>
				<div class="Logo-wave--front"></div>
			</div>
		</div>

		<h2 class="Home-subtitle">request authorization
			<br>from
		</h2>
		<div class="Home-instructions">Review of the current research project. Access to classified documents.
			<br>Request authorization pending. <span class="Home-command">Press space to begin</span>
		</div>
		<i class="icon-keyboard"></i>
		<div class="spacebar"></div>

	</div>
</div>

<div class="Popup">
	<p class="Popup-content"></p>
	<p class="Popup-countdown" id="countdown">2084</p>
</div>
<a href="" class="Popup-skip">skip intro</a>

<audio
	class="Audio-music"
	src="medias/background.mp3">
	Your browser doesn't support audio API
</audio>

<div class="Audio-controls"><a><i class="icon-speaker"></i></a></div>

<div class="intro-guidelines">
	<p>init h2o_project.sh</p>
	<p>In 2010, NASA developed and launched satellites based artificially intelligent named H2O Project that would analyse Earth. ^1000</p>
	<p>The studies reported terrible predictions for Mankind. ^1000</p>
	<p>NASA warned the world’s leaders. ^1000</p>
	<p>^750 But Men did nothing to prevent these ravishing prospects ^500 and the most vital resource to life disappeared: clean drinking water. ^1000</p>
	<p>Indeed, humans can survive 30 days without eating but only 3 days without drinking. ^1000</p>
	<p>Yet, on Earth, every human being did not have access to clean drinking water. ^1000</p>
	<p>In 2084, mankind among many species vanished off the face of the Earth.</p>
	<p></p>
</div>

<!-- build:include ./inc/footer.html -->
<!-- /build -->
