<!-- build:include ./inc/header.html -->
<!-- /build -->

<div class="Region-container">
    <h2 class="Region-container-name">Europe</h2>
    <h3 class="Region-container-title">A drinking water mess</h3>
    <h4 class="Region-container-subtitle">Europe is running out of fresh water and overexploit water supplies</h4>
    <p class="Region-container-text">Europeans are extracting too much from rivers, lakes and underground water sources, which can take millennia to be replenished, according to an EEA report published at the World Water Forum in Istanbul. This has so far disguised the continent’s water shortage, but it is only a stop-gap as supplies will run out.</p>
    <button class="Region-container-watchButton"><a></a>Watch</button>

</div>

<!-- build:include ./inc/footer.html -->
<!-- /build -->